:root {
    --spacing-top-small: 20px;
    --spacing-top-large: 30px;
    --padding-horizontal: 50px;
    --tertiary-background-color: black; /* Tertiary background color */
    --text-color: #fff; /* Background text color */
}

.main-container {
    width: 100%;
    background: rgb(254, 179, 243);
    background: linear-gradient(90deg, rgba(254, 179, 243, 1) 0%, rgba(224, 179, 254, 1) 50%, rgba(179, 254, 242, 1) 100%);
}

.header-section {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: var(--spacing-top-small) var(--padding-horizontal);
}

.inner-header {
    display: flex;
    flex-direction: column; /* Changes to column to stack logo and search bar */
    align-items: center; /* Center items horizontally */
}

.logo-column {
    flex: none; 
    margin-bottom: 10px; /* Space between logo and search bar */
}

.search-column {
    flex: 1; /* 33.33% */
}

.search-input {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid rgba(250, 147, 182, 1);
    width: 100%; /* Adjusted for responsiveness */
    max-width: 300px; /* Limit maximum width */
    margin: 10px auto; /* Center input */
    box-sizing: border-box; /* Include padding and border in width */
}

.navigation-section {
    background-color: var(--tertiary-background-color);
    color: #fff;
    padding: var(--spacing-top-small) var(--padding-horizontal);
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.navigation li {
    margin: 0 20px; /* Space between menu items */
}

.navigation a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline; /* Underline effect on hover */
}

.body-top {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Center the content */
    align-items: center; /* Align items vertically in the center, if needed */
    overflow: hidden; /* Ensures content respects the border radius */
    margin-top: 25px; /* Add margin on top of the column */
    margin-bottom: 20px; /* Add margin on bottom of the column */
    width: 100%; /* Ensure full width, or adjust as necessary */
}

.body-container {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Space between columns */
    gap: 20px; /* Space between columns */
    overflow: hidden; /* Ensures content respects the border radius */
    margin-top: 20px; /* Add margin on top of the columns */
}

.column {
    flex: 1; /* Each column takes equal width */
    padding: 20px; /* Padding around content */
    box-sizing: border-box; /* Ensures padding is included in width */
}

.column-top {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 13%, rgba(255, 228, 248, 1) 43%, rgba(253, 201, 227, 1) 77%, rgba(244, 74, 131, 1) 100%);
    border: 2px solid white; /* Border around the container */
    border-radius: 15px; /* Rounded corners */
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px #f33886;
}

.column-left, .column-right {
    background: rgb(254, 179, 243);
    background: linear-gradient(90deg, rgba(254, 179, 243, 1) 0%, rgba(224, 179, 254, 1) 50%, rgba(179, 254, 242, 1) 100%);
    border
